# === Base dependencies ===
streamlit
pandas
python-dateutil

# === Formatting & Linting ===
black==24.4.2
flake8==7.0.0
isort
autoflake
docformatter
pylint

# === Type Checking ===
mypy==1.10.0

# === Testing ===
pytest
coverage

# === Security Scanning ===
bandit

# === Git Hooks ===
pre-commit
